name: enhanced_ocr_example
description: Example app for flutter_scalable_ocr_enhanced package
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_scalable_ocr_enhanced:
    path: ../
  image_picker: ^1.0.0
  flutter_native_ocr: ^0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
